<%= render :partial => "layouts/first" %>
<script src="/javascripts/livevalidation_standalone.js"></script>
<%= form_for :@users, :url=>{:controller=>'use', :action=>'notifi1'}  do  |f| %>









<DIV id=u17 style="position:absolute; left:60px; top:130px; width:560px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u17_rtf><span style=" font-family:'Arial'; color:#000000; font-size:10pt;">Thanks for your interest in SoccerKids!!! Please enter an email address, we will notify you when registration for our next season begins...</span></DIV></DIV>
<DIV id=u21 style="position:absolute; left:182px; top:304px; width:300px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u21_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>Add Email notification</b></span></DIV></DIV>
<DIV id=u22 style="position:absolute; left:239px; top:417px; width:78px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b>   <%= f.label :notify %></b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<div style="position:absolute; left:319px; top:414px; width:500px; height:25px; ; ; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :notifi %></div>


</DIV>


</DIV>
</DIV>

<DIV id=u29container style="position:absolute; left:286px; top:454px; width:81px; height:26px;; overflow:visible">

<DIV id=u30 style="position:absolute; left:2px; top:4.5px; width:76px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u30_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"> <%= f.submit 'send notification' %></span></div></DIV></DIV>
</DIV>


<DIV id=u29ann style="font-size:1px; position:absolute; left:357px; top:450px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u31 style="position:absolute; left:189px; top:329px; width:361px; height:26px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u31_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">By giving your Email address you will be notified by an email when registration begins for a program...</span></DIV></DIV><SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Members add email Id for notification_files/axurerp_pagespecificscript.js">

<%end %>



</script>


<script>
var f1= new LiveValidation('_users_notifi');
f1.add( Validate.Presence );


</script>


