<%= form_for @program do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h3>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
