<%= render :partial => "layouts/register" %>

<script src="/javascripts/livevalidation_standalone.js"></script>



<div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">
<u><b><div style="position:absolute; left:80px; top:90px; width:600px; height:7px; ; ;text-align:left">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<h2>Enter your details</h2>

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :firstname %>
  <%= f.text_field :firstname %></div><br />


  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :lastname %>
  <%= f.text_field :lastname %></div><br />


  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :AddressLine1 %>
  <%= f.text_field :addressline1 %></div><br />

 <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :AddressLine2 %>
  <%= f.text_field :addressline2 %></div><br />


  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= f.label :city %>
  <%= f.text_field :city %></div><br />

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :zip %>
  <%= f.text_field :zip %></div><br />

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :state %>
  <%= f.text_field :state %></div><br />

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :homephone %>
  <%= f.text_field :home_phone %></div><br />


  <div>&nbsp;&nbsp;&nbsp;<%= f.label :alternatephone %>
  <%= f.text_field :alternate_phone %></div><br />

  <div>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :alternateemail %>
  <%= f.text_field :alternate_email %></div><br />

<div><%= f.label :current_password %> 
  <%= f.password_field :current_password %></div><br />


  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= f.submit "continue" %></div> 
<% end %>
<script>
var f1 = new LiveValidation('user_firstname');
f1.add( Validate.Presence ); 

var f2 = new LiveValidation('user_lastname');
f2.add( Validate.Presence );

var f3 = new LiveValidation('user_addressline1');
f3.add( Validate.Presence );

var f4 = new LiveValidation('user_addressline2');
f4.add( Validate.Presence );

var f5= new LiveValidation('user_city');
f5.add( Validate.Presence );

var f6 = new LiveValidation('user_zip');
f6.add( Validate.Presence );
f6.add( Validate.Numericality, { onlyInteger: true } );

var f7= new LiveValidation('user_state');
f7.add( Validate.Presence );


var f8 = new LiveValidation('user_home_phone');
f8.add( Validate.Presence );
f8.add( Validate.Length, { is: 10 } );
f8.add( Validate.Numericality, { onlyInteger: true } );

var f9 = new LiveValidation('user_alternate_phone');
f9.add( Validate.Presence );
f9.add( Validate.Length, { is: 10 } );
f9.add( Validate.Numericality, { onlyInteger: true } );

var f10 = new LiveValidation('user_alternate_email');
f10.add( Validate.Presence );
f10.add( Validate.Email );
f10.add( Validate.Length, { minimum: 10, maximum: 20 } );
</script>
