<%= render :partial => "layouts/register" %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<DIV>
<span style="position:absolute; left:px; top:220px; width:698px; height:200px;;">
<img src="/images/u50.png" border="0" alt=""></span>
</DIV>
<DIV id=u32 style="position:absolute; left:110px; top:225px; width:250px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u32_rtf><span style=" font-family:'Arial'; color:#FFFFFF; font-size:10pt;"><b>Please give your account information</b></span></DIV></DIV>

<DIV id=u3 style="position:absolute; left:373px; top:145px; width:257px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u3_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:11pt;"><b>Create a SoccerKids Account</b></span></DIV></DIV>
<DIV id=u3 style="position:absolute; left:650px; top:600px; width:257px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u3_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:11pt;"><%= f.submit "CREATE MY ACCOUNT" %></span></DIV></DIV>
</DIV>
<DIV id=u10 style="position:absolute; left:278px; top:304px; width:96px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :email %> </b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<div style="position:absolute; left:381px; top:300px; width:170px; height:25px; ; ; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   > <%= f.email_field :email %></div>
<div style="position:absolute; left:381px; top:352px; width:170px; height:25px; ; background-color:#EDECEC; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >  <%= f.password_field :password %></div>
<DIV id=u13 style="position:absolute; left:283px; top:356px; width:87px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u13_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :password %></b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<DIV id=u14 style="position:absolute; left:379px; top:328px; width:385px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf><span style=" font-family:'Verdana'; color:#C0C0C0; font-size:8pt;">Please give a valid email which is also used as your username</span></DIV></DIV>
<DIV id=u15 style="position:absolute; left:377px; top:380px; width:286px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u15_rtf><span style=" font-family:'Verdana'; color:#C0C0C0; font-size:8pt;">Password must be atleast six characters of length</span></DIV></DIV>
<div style="position:absolute; left:381px; top:404px; width:170px; height:25px; ; background-color:#EDECEC; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.password_field :password %></div>
<DIV id=u23 style="position:absolute; left:224px; top:390px; width:147px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u23_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :password_confirmation %></b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<DIV id=u27 style="position:absolute; left:233px; top:260px; width:540px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u27_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">Please select a username and password which is used to login into your Soccerkids Account</span></DIV></DIV>
<DIV id=ou28 style="position:absolute; left:260px; top:498px; width:45px; height:20px;; overflow:visible">
<%#= f.simple_captcha :label => "Enter character.." %><%= recaptcha_tags %> </span>
</DIV>
<% end %>

