
<%= render :partial => "layouts/first" %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<DIV id=ou0 style="position:absolute; left:199px; top:131px; width:591px; height:643px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:599px; height:651px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u0.png',sizingMethod='scale');
"><img style="width:599px; height:651px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u0.png" border="0" alt=""></span>

</DIV>
<DIV id=u0container style="position:absolute; left:199px; top:131px; width:591px; height:643px;; overflow:visible">

<DIV id=u1 style="position:absolute; left:2px; top:313px; width:586px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u1_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u0 src="Resources/transparent.gif" style="position:absolute; left:199px; top:131px; width:590px; height:642px"  >

<span style="position:absolute; left:208px; top:134px; width:116px; height:100px">
<IMG id=ou2 src="Account setup_files/u2.jpg" style="position:absolute;left:0px;top:0px;width:116px;height:100px">
</span>
<IMG id=u2 src="Resources/transparent.gif" style="position:absolute; left:208px; top:134px; width:116px; height:100px"   >

<DIV id=u3 style="position:absolute; left:373px; top:145px; width:257px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u3_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:11pt;"><b>Create a SoccerKids Account</b></span></DIV></DIV>
<span style="position:absolute; left:329px; top:168px; width:453px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u4.png',sizingMethod='scale');
"><img style="width:453px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u4.png" border="0" alt=""></span>

<IMG id=u4 src="Resources/transparent.gif" style="position:absolute; left:329px; top:167.5px; width:450px; height:2px">

<DIV id=u5 style="; position:absolute; left:570px; top:716px; width:211px; height:41px;; overflow:hidden">
<DIV id=pd0u5 style="position:absolute; left:0px; top:0px; width:1px; height:1px; ;">
<DIV id=ou6 style="position:absolute; left:10px; top:5px; width:191px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:199px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u6.png',sizingMethod='scale');
"><img style="width:199px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u6.png" border="0" alt=""></span>

</DIV>
<DIV id=u6container style="position:absolute; left:10px; top:5px; width:191px; height:26px;; overflow:visible">

<DIV id=u7 style="position:absolute; left:2px; top:4.5px; width:186px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u7_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#000000; font-size:10pt;"><%= f.submit "CREATE MY ACCOUNT" %></span></div></DIV></DIV>
</DIV>


<DIV id=u6ann style="font-size:1px; position:absolute; left:191px; top:1px; width:1px; height:1px; overflow:visible"></DIV>

</DIV>
</DIV>
<DIV id=u5ann style="font-size:1px; position:absolute; left:771px; top:712px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou8 style="position:absolute; left:210px; top:243px; width:571px; height:211px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:579px; height:219px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u8.png',sizingMethod='scale');
"><img style="width:579px; height:219px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u8.png" border="0" alt=""></span>

</DIV>
<DIV id=u8container style="position:absolute; left:210px; top:243px; width:571px; height:211px;; overflow:visible">

<DIV id=u9 style="position:absolute; left:2px; top:97px; width:566px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u9_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u8 src="Resources/transparent.gif" style="position:absolute; left:210px; top:243px; width:570px; height:210px"  >

<DIV id=u10 style="position:absolute; left:278px; top:304px; width:96px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :email %> </b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<div style="position:absolute; left:381px; top:300px; width:170px; height:25px; ; ; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   > <%= f.email_field :email %></div>

<DIV id=u11ann style="font-size:1px; position:absolute; left:542px; top:296px; width:1px; height:1px; overflow:visible"></DIV>

<div style="position:absolute; left:381px; top:352px; width:170px; height:25px; ; background-color:#EDECEC; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   >  <%= f.password_field :password %></div>

<DIV id=u12ann style="font-size:1px; position:absolute; left:542px; top:348px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u13 style="position:absolute; left:283px; top:356px; width:87px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u13_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :password %></b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<DIV id=u14 style="position:absolute; left:379px; top:328px; width:385px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u14_rtf><span style=" font-family:'Verdana'; color:#C0C0C0; font-size:8pt;">Please give a valid email which is also used as your username</span></DIV></DIV>
<DIV id=u15 style="position:absolute; left:377px; top:380px; width:286px; height:13px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u15_rtf><span style=" font-family:'Verdana'; color:#C0C0C0; font-size:8pt;">Password must be atleast six characters of length</span></DIV></DIV>
<DIV id=u16 style="visibility:hidden; position:absolute; left:556px; top:294px; width:214px; height:33px;; overflow:hidden">
<DIV id=pd0u16 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou17 style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:216px; height:36px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u17.png',sizingMethod='scale');
"><img style="width:216px; height:36px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u17.png" border="0" alt=""></span>

</DIV>
<DIV id=u17container style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<DIV id=u18 style="position:absolute; left:2px; top:7px; width:203px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u18_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">Please enter username</span></div></DIV></DIV>
</DIV>
<IMG id=u17 src="Resources/transparent.gif" style="position:absolute; left:3px; top:2px; width:207px; height:27px"  >

</DIV>
</DIV>
<DIV id=u19 style="visibility:hidden; position:absolute; left:556px; top:348px; width:214px; height:33px;; overflow:hidden">
<DIV id=pd0u19 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou20 style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:216px; height:36px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u20.png',sizingMethod='scale');
"><img style="width:216px; height:36px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u20.png" border="0" alt=""></span>

</DIV>
<DIV id=u20container style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<DIV id=u21 style="position:absolute; left:2px; top:7px; width:203px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u21_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">Please enter valid password</span></div></DIV></DIV>
</DIV>
<IMG id=u20 src="Resources/transparent.gif" style="position:absolute; left:3px; top:2px; width:207px; height:27px"  >

</DIV>
</DIV>
<div style="position:absolute; left:381px; top:404px; width:170px; height:25px; ; background-color:#EDECEC; text-align: left ; font-family:'Verdana'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.password_field :password %></div>

<DIV id=u22ann style="font-size:1px; position:absolute; left:542px; top:400px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u23 style="position:absolute; left:224px; top:406px; width:147px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u23_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"><b><%= f.label :password_confirmation %></b></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<DIV id=u24 style="visibility:hidden; position:absolute; left:557px; top:402px; width:214px; height:33px;; overflow:hidden">
<DIV id=pd0u24 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou25 style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:216px; height:36px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u25.png',sizingMethod='scale');
"><img style="width:216px; height:36px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u25.png" border="0" alt=""></span>

</DIV>
<DIV id=u25container style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<DIV id=u26 style="position:absolute; left:2px; top:7px; width:203px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">Passwords does not match </span></div></DIV></DIV>
</DIV>
<IMG id=u25 src="Resources/transparent.gif" style="position:absolute; left:3px; top:2px; width:207px; height:27px"  >

</DIV>	
</DIV>
<DIV id=u27 style="position:absolute; left:233px; top:260px; width:540px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u27_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">Please select a username and password which is used to login into your Soccerkids Account</span></DIV></DIV>
<DIV id=ou28 style="position:absolute; left:260px; top:498px; width:451px; height:201px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:459px; height:209px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u28.png',sizingMethod='scale');
"><%= f.simple_captcha :label => "Enter character.." %> </span>

</DIV>




<DIV id=u31ann style="font-size:1px; position:absolute; left:649px; top:649px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u32 style="visibility:hidden; position:absolute; left:380px; top:552px; width:214px; height:33px;; overflow:hidden">
<DIV id=pd0u32 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou33 style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:216px; height:36px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u33.png',sizingMethod='scale');
"><img style="width:216px; height:36px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u33.png" border="0" alt=""></span>

</DIV>

<DIV id=u33container style="position:absolute; left:3px; top:2px; width:208px; height:28px;; overflow:visible">

<DIV id=u34 style="position:absolute; left:2px; top:7px; width:203px; height:13px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u34_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:8pt;">Please re-enter the words </span></div></DIV></DIV>
</DIV>
<IMG id=u33 src="Resources/transparent.gif" style="position:absolute; left:3px; top:2px; width:207px; height:27px"  >

</DIV>
</DIV>
<DIV id=ou35 style="position:absolute; left:517px; top:600px; width:179px; height:32px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:187px; height:40px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u35.png',sizingMethod='scale');
"><img style="width:187px; height:40px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u35.png" border="0" alt=""></span>

</DIV>




<DIV id=u35ann style="font-size:1px; position:absolute; left:686px; top:596px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u37 style="visibility:hidden; position:absolute; left:316px; top:593px; width:181px; height:51px;; overflow:hidden">
<DIV id=pd0u37 style="position:absolute; left:0px; top:0px; width:1px; height:1px; visibility:hidden;">
<DIV id=ou38 style="position:absolute; left:3px; top:3px; width:171px; height:41px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:179px; height:49px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u38.png',sizingMethod='scale');
"><img style="width:179px; height:49px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u38.png" border="0" alt=""></span>

</DIV>
<DIV id=u38container style="position:absolute; left:3px; top:3px; width:171px; height:41px;; overflow:visible">

<DIV id=u39 style="position:absolute; left:2px; top:12px; width:166px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf>&nbsp;</DIV></DIV>
</DIV>


<DIV id=u54container style="position:absolute; left:1px; top:57px; width:821px; height:26px;; overflow:visible">

<DIV id=u55 style="position:absolute; left:2px; top:4.5px; width:816px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u55_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u54 src="Resources/transparent.gif" style="position:absolute; left:1px; top:57px; width:820px; height:25px"  >

<DIV id=ou56 style="position:absolute; left:626px; top:57px; width:96px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:104px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u56.png',sizingMethod='scale');
"><img style="width:104px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u56.png" border="0" alt=""></span>

</DIV>


<DIV id=ou58 style="position:absolute; left:716px; top:57px; width:61px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:69px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u58.png',sizingMethod='scale');
"><img style="width:69px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u58.png" border="0" alt=""></span>

</DIV>

<DIV id=u58ann style="font-size:1px; position:absolute; left:767px; top:53px; width:1px; height:1px; overflow:visible"></DIV>


<DIV id=ou62 style="position:absolute; left:48px; top:56px; width:61px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:69px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u62.png',sizingMethod='scale');
"><img style="width:69px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u62.png" border="0" alt=""></span>

</DIV>


<DIV id=u62ann style="font-size:1px; position:absolute; left:99px; top:52px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou64 style="position:absolute; left:227px; top:56px; width:151px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:159px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u64.png',sizingMethod='scale');
"><img style="width:159px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u64.png" border="0" alt=""></span>

</DIV>


<DIV id=u64ann style="font-size:1px; position:absolute; left:368px; top:52px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=ou66 style="position:absolute; left:114px; top:56px; width:112px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:120px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u66.png',sizingMethod='scale');
"><img style="width:120px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u66.png" border="0" alt=""></span>

</DIV>


<DIV id=ou68 style="position:absolute; left:768px; top:57px; width:40px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:48px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u68.png',sizingMethod='scale');
"><img style="width:48px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u68.png" border="0" alt=""></span>

</DIV>


<DIV id=ou70 style="position:absolute; left:297px; top:227px; width:234px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:242px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u70.png',sizingMethod='scale');
"><img style="width:242px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u70.png" border="0" alt=""></span>

</DIV>
<DIV id=u70container style="position:absolute; left:297px; top:227px; width:234px; height:31px;; overflow:visible">

<DIV id=u71 style="position:absolute; left:2px; top:7px; width:229px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u71_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#AAAAAA; font-size:10pt;"><b>Choose your account details</b></span></div></DIV></DIV>
</DIV>
<IMG id=u70 src="Resources/transparent.gif" style="position:absolute; left:297px; top:227px; width:233px; height:30px"  >

<DIV id=ou72 style="position:absolute; left:302px; top:483px; width:156px; height:31px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:164px; height:39px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u72.png',sizingMethod='scale');
"><img style="width:164px; height:39px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u72.png" border="0" alt=""></span>

</DIV>
<DIV id=u72container style="position:absolute; left:302px; top:483px; width:156px; height:31px;; overflow:visible">

<DIV id=u73 style="position:absolute; left:2px; top:7px; width:151px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u73_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#AAAAAA; font-size:10pt;"><b>Your security code</b></span></div></DIV></DIV>
</DIV>
<IMG id=u72 src="Resources/transparent.gif" style="position:absolute; left:302px; top:483px; width:155px; height:30px"  >


<DIV id=u75 style="position:absolute; left:610px; top:191px; width:168px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u75_rtf><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">* </span><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;">fields are mandatory</span></DIV></DIV>
<DIV id=ou76 style="position:absolute; left:55px; top:857px; width:251px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:259px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u76.png',sizingMethod='scale');
"><img style="width:259px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u76.png" border="0" alt=""></span>

</DIV>


<DIV id=ou78 style="position:absolute; left:295px; top:857px; width:146px; height:26px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:154px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Account setup_files/u78.png',sizingMethod='scale');
"><img style="width:154px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Account setup_files/u78.png" border="0" alt=""></span>

</DIV>


<SCRIPT src="Resources/axurerp_pagescript.js"></SCRIPT>
<SCRIPT src="Account setup_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
<% end %>
