<%= render :partial => "layouts/first" %>

<DIV id=u17 style="position:absolute; left:70px; top:122px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u17_rtf><span style=" font-family:'Verdana'; color:#0000ff; font-size:10pt;"><b>Selected Program</b></span></DIV></DIV>
<DIV id=u18container style="position:absolute; left:100px; top:150px; width:511px; height:261px;; overflow:visible">
<DIV id=u19 style="position:absolute; left:2px; top:122px; width:506px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u19_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u18 src="Resources/transparent.gif" style="position:absolute; left:100px; top:150px; width:510px; height:260px"  >
<DIV id=u20 style="position:absolute; left:144px; top:180px; width:117px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u20_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Program name:</span></DIV></DIV>
<DIV id=u21 style="position:absolute; left:107px; top:221px; width:150px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u21_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Program description: </span></DIV></DIV>
<DIV id=u22 style="position:absolute; left:130px; top:296px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Program location:</span></DIV></DIV>
<DIV id=u23 style="position:absolute; left:260px; top:296px; width:60px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u23_rtf><span style=" font-family:'Arial'; color:#000fff; font-size:10pt;">  <%= @event.name %></span></DIV></DIV>
<DIV id=u24 style="position:absolute; left:254px; top:180px; width:320px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u24_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;"> <%= @event.name %></span></DIV></DIV>
<DIV id=u25 style="position:absolute; left:260px; top:217px; width:340px; height:28px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u25_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:9pt;">This class taught by Coach  <%= @event.coach %> Tuition is <%= @event.tuition %> for  <%= @event.dates %>class meetings.</span></DIV></DIV>
<DIV id=u26 style="position:absolute; left:169px; top:260px; width:80px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Class Time:</span></DIV></DIV>
<DIV id=u27 style="position:absolute; left:260px; top:260px; width:160px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u27_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;"><%= @event.from_time %> </span></DIV></DIV>
<DIV id=u28 style="position:absolute; left:196px; top:331px; width:59px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Status:</span></DIV></DIV>
<DIV id=u29 style="position:absolute; left:260px; top:331px; width:90px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u29_rtf><span style=" font-family:'Arial'; color:#000fff; font-size:10pt;">  <%= @event.status %></span></DIV></DIV>
<DIV id=ou30 style="position:absolute; left:326px; top:291px; width:81px; height:26px;; overflow:visible">

</DIV>

<img border="4" alt="" src="/images/shirt.jpg" style="position:absolute; ;top:200px; width:200px; height:150px; left:550px; ">


<DIV id=u15 style="position:absolute; ;top:400px; width:200px; height:150px; left:550px; text-align: left ; font-family:Arial; text-align:left;color:#000fff; font-size:20pt;">
<%= link_to 'Enlarge image',use_enlarge_path, :onclick=>"window.open(this.href,'Enlarge image', 'height=800, width=600');return false;" %>
</DIV>

<IMG id=u30 src="Resources/transparent.gif" style="position:absolute; left:326px; top:291px; width:80px; height:25px"  >
<DIV id=u30ann style="font-size:1px; position:absolute; left:397px; top:287px; width:1px; height:1px; overflow:visible"></DIV>
<DIV id=ou32 style="position:absolute; left:86px; top:417px; width:221px; height:26px;; overflow:visible">
<span style="position:absolute; left:-3px; top:-3px; width:229px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Program details page_files/u32.png',sizingMethod='scale');
"><img style="width:229px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Program details page_files/u32.png" border="0" alt=""></span>

<DIV id=u15 style="position:absolute; left:125px; top:150px; width:650px; height:50px;text-align: left ; font-family:Arial; text-align:left;" >
<table border="5">

  <tr>
    <td><%= @player.first_name  %></td>
    <td><%= @player.middle_name %></td>
    <td><%=  @player.last_name %></td>
    <td><%=  @player.gender %></td>
    <td><%= @player.dob%></td>
    <td><%= @player.school_name  %></td>
    <td><%= @player.registrant_info %></td>
     <td><%= link_to 'register',"/transaction/new/#{@event.id}/#{params[:player_id]}" %></td>
  </tr>
</table>
</DIV>



<DIV id=u35 style="position:absolute; left:110px; top:-60px; width:60px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u35_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:10pt;">Tuition:</span></DIV></DIV>
<DIV id=u36 style="position:absolute; left:250px; top:-60px; width:40px; height:14px; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u36_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:9pt;">$155 </span></DIV>
<DIV id=u37 style="position:absolute; left:-140px; top:50px; width:200px; height:14px; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u37_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:9pt;">Tshirt&nbsp;Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$50</span></DIV>
<DIV id=u31 style="position:absolute; left:-80px; top:50px; width:200px; height:14px; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u31_rtf><span style=" font-family:'Verdana'; color:#000fff; font-size:20pt;">totalt&nbsp;Amount:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$205</span></DIV>


