<br><br><br><br><br><br><br><br>

<h3 align="center">Transaction</h3>
<div align=center>
<%= form_for :transaction ,:url=>{:action=>'create',:id=>params[:id]} do |f|%><br/>


Card Holder Name:
<%=f.text_field:name %><br />
<br />


Billing Address:
<%=f.text_field:adress %><br />
<br />

City:
<%=f.text_field:city %><br />
<br />

State:
<%=f.text_field:state %><br />
<br />

Zip:
<%=f.text_field:zip %><br />
<br />



What Kind Of Card 
<%= f.select:card_type, options_for_select(['Visa', 'Master Card']) %><br />
<br />





Card Number
<%=f.text_field:card_number %><br />
<br />
 


Expiration Date*
<%=f.date_select :card_date,:start_year => 1960,:end_year =>3000,:prompt => :'select',:order => [:day, :month, :year] %>
<br />
<br />
Card Verification Number:
<%=f.text_field:card_verification%><br />
<br />


<%= f.submit 'Continue'%>

<% end %>
</div>
<script>

var f1 = new LiveValidation('transaction_name');
f1.add( Validate.Presence );
var f1 = new LiveValidation('transaction_card_type');
f1.add( Validate.Presence );
var f1 = new LiveValidation('transaction_amount');
f1.add( Validate.Presence );
var f1 = new LiveValidation('transaction_card_number');
f1.add( Validate.Presence );
var f1 = new LiveValidation('transaction_card_verification');
f1.add( Validate.Presence );
var f1 = new LiveValidation('transaction_card_date');
f1.add( Validate.Presence );


</script>
