<br><br><br><br><br><br>
<%= render :partial => "layouts/first" %>
<script src="/javascripts/livevalidation_standalone.js"></script>

<h2 align="left">Transaction</h2>
<div align=left>
<%= form_for :transaction ,:url=>{:action=>'create',:id=>params[:id]} do |f|%><br/>

<%= f.hidden_field :user_id, :value => current_user.id %>
Card Holder Name:
<%=f.text_field:name %><br />
<br />
<%= f.hidden_field :player_id, :value => params[:player_id] %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Billing Address:
<%=f.text_field:adress %><br />
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City:            
<%=f.text_field:city %><br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State:
<%=f.text_field:state %><br />
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip:
<%=f.text_field:zip %><br />
<br />



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;What Kind Of Card: 
<%= f.select:card_type, options_for_select(['Visa', 'Master Card']) %><br />
<br />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;amount:
<%= f.text_field:amount, :value=>205%> </br><br />



&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Card Number
<%=f.text_field:card_number %><br />
<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Expiration Date*
<%=f.date_select :card_date,:start_year => 2011,:end_year =>2025,:prompt => :'select',:order => [:day, :month, :year] %>
<br />
<br />
Card Verification Number:
<%=f.password_field:card_verification%><br />
<br />



<%= f.submit 'Continue'%>

<% end %>
</div>
<script>

var f1 = new LiveValidation('transaction_name');
f1.add( Validate.Presence );</script>
<script>
var f2 = new LiveValidation('transaction_card_type');
f2.add( Validate.Presence );</script>
<script>
var f3 = new LiveValidation('transaction_amount');
f3.add( Validate.Presence );
f3.add( Validate.Numericality );
</script>
<script>
var f4 = new LiveValidation('transaction_card_number');
f4.add( Validate.Presence );
f4.add( Validate.Numericality );
</script>
<script>
var f5 = new LiveValidation('transaction_card_verification');
f5.add( Validate.Presence );

</script>
<script>
var f6 = new LiveValidation('transaction_card_date');
f6.add( Validate.Presence );
</script>
<script>
var f7 = new LiveValidation('transaction_adress');
f7.add( Validate.Presence );</script>
<script>

var f8 = new LiveValidation('transaction_city');
f8.add( Validate.Presence );</script>
<script>

var f9 = new LiveValidation('transaction_state');
f9.add( Validate.Presence );</script>
<script>

var f10 = new LiveValidation('transaction_zip');
f10.add( Validate.Presence );
f10.add( Validate.Numericality );
</script>


