<script src="/javascripts/livevalidation_standalone.js"></script>

<%= render :partial => "layouts/first" %>
<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <DIV  style="position:absolute; left:350px; top:456px; width:700px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >

<%=f.date_select :dob,:start_year => 1980,:end_year =>2009,:prompt => :'select',:order => [:day, :month, :year] %>
</DIV>
    <DIV  style="position:absolute; left:350px; top:490px; width:700px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >

<%= f.select :gender, options_for_select(['male', 'female']) %>
</DIV>

<br />
<DIV id=u10 style="position:absolute; left:246px; top:456px; width:92px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;">Date of birth</span></DIV></DIV>
<DIV id=u10 style="position:absolute; left:246px; top:490px; width:500px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u10_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;">Gender</span></DIV></DIV>
<DIV id=u11 style="position:absolute; left:279px; top:490px; width:65px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
</DIV>
<DIV id=u13 style="position:absolute; left:16px; top:0px; width:32px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
</DIV>
</DIV>
<DIV style="position:absolute; left:349px; top:492px; width:50px; height:16px; ; ; text-align: left " ></DIV>
<DIV id=u15 style="position:absolute; left:16px; top:0px; width:62px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
</DIV>
</DIV>
<DIV style="position:absolute; left:409px; top:492px; width:80px; height:16px; ; ; text-align: left " ></DIV>
<DIV id=ou16 style="position:absolute; left:590px; top:705px; width:142px; height:26px;; overflow:visible">
<span style="position:absolute; left:-3px; top:-3px; width:150px; height:34px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Contact info_files/Registration page_files/u16.png',sizingMethod='scale');
"><img style="width:500px; height:34px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="images/Contact info_files/Registration page_files/u16.png" border="0" alt=""></span>
</DIV>

 <%= f.hidden_field :user_id, :value => current_user.id %> 
  
<DIV id=u16container style="position:absolute; left:590px; top:705px; width:500px; height:26px;; overflow:visible">
<DIV id=u17 style="position:absolute; left:2px; top:-60px; width:500px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u17_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#000000; font-size:10pt;"> <%= f.submit %></span></div></DIV></DIV>
</DIV>

<DIV id=u22 style="position:absolute; left:221px; top:576px; width:300px; height:28px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u22_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;">&nbsp; <%= f.label :registrant_info %>Registrant Info(medical / special) </span></DIV></DIV>
<div style="position:absolute; left:350px; top:580px; width:500px; height:75px; ; ; text-align: left ; font-family:'Courier New'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"  > <%= f.text_field :registrant_info %></div>
<IMG id=u47 src="Resources/transparent.gif" style="position:absolute; left:190px; top:266px; width:550px; height:140px"  >
<DIV id=u49 style="position:absolute; left:212px; top:284px; width:500px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u49_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;"><%= f.label :Playersfirst_name %></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<div style="position:absolute; left:359px; top:282px; width:500px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :first_name %></div>
<DIV id=u51 style="position:absolute; left:199px; top:321px; width:500px; height:14px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u51_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;"><%= f.label :PlayersMiddle_Name %></span></DIV></DIV>
<div style="position:absolute; left:359px; top:317px; width:500px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :middle_name %></div>
<DIV id=u53 style="position:absolute; left:212px; top:351px; width:500px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u53_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;"> <%= f.label :Playerslast_name %></span><span style=" font-family:'Verdana'; color:#FF0000; font-size:11pt;">*</span></DIV></DIV>
<div style="position:absolute; left:359px; top:352px; width:500px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   > <%= f.text_field :last_name %></div>
</DIV>
<DIV id=u61container style="position:absolute; left:298px; top:256px; width:124px; height:17px;; overflow:visible">
<DIV id=u62 style="position:absolute; left:2px; top:-1px; width:119px; height:18px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u62_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#AAAAAA; font-size:11pt;"><b>Name&nbsp; details</b></span></div></DIV></DIV>
</DIV>
<DIV id=u63container style="position:absolute; left:300px; top:414px; width:300px; height:21px;; overflow:visible">
<DIV id=u64 style="position:absolute; left:2px; top:1px; width:176px; height:18px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u64_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#AAAAAA; font-size:11pt;"><b>Basic information</b></span></div></DIV></DIV>
</DIV>
<IMG id=u63 src="Resources/transparent.gif" style="position:absolute; left:300px; top:414px; width:500px; height:20px"  >
<DIV id=u65 style="position:absolute; left:248px; top:532px; width:500px; height:14px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u65_rtf><span style=" font-family:'Verdana'; color:#000000; font-size:9pt;"><%= f.label :school_name %></span></DIV></DIV>
<div style="position:absolute; left:350px; top:527px; width:500px; height:25px; ; ; text-align: left ; font-family:'Arial'; font-size: 10pt; color:#000000; font-style:normal; font-weight:normal; text-decoration:none"   ><%= f.text_field :school_name %></div>


<script>
var f1 = new LiveValidation('player_first_name');
f1.add( Validate.Presence ); 

var f2 = new LiveValidation('player_last_name');
f2.add( Validate.Presence );

var f3 = new LiveValidation('player_dob_3i');
f3.add( Validate.Presence );

var f4 = new LiveValidation('player_dob_2i');
f4.add( Validate.Presence );

var f5= new LiveValidation('player_dob_1i');
f5.add( Validate.Presence );

var f6 = new LiveValidation('player_school_name');
f6.add( Validate.Presence );


var f7= new LiveValidation('player_registrant_info');
f7.add( Validate.Presence );


</script>




<% end %>
