<h1>Listing players</h1>

<table >
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Dob</th>
    <th>User</th>
    <th>School name</th>
    <th>Registrant info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.middle_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.gender %></td>
    <td><%= player.dob %></td>
    <td><%= player.user_id %></td>
    <td><%= player.school_name %></td>
    <td><%= player.registrant_info %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
