<DIV id=u31_rtf>&nbsp;</DIV></DIV>
<DIV id=u36container style="position:absolute; left:-1px; top:56px; width:51px; height:26px;; overflow:visible">
<DIV id=u37_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><%= link_to 'Home', root_path %></span></div></DIV></DIV>
<DIV id=u39 style="position:absolute; left:2px; top:4.5px; width:56px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u39_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>Programs</u></span></div></DIV></DIV>
</DIV></DIV></DIV>
<IMG id=u38 src="Resources/transparent.gif" style="position:absolute; left:48px; top:56px; width:60px; height:25px"  >
<DIV id=u42container style="position:absolute; left:114px; top:56px; width:112px; height:26px;; overflow:visible">
<DIV id=u43 style="position:absolute; left:2px; top:4.5px; width:107px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u43_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><%= link_to 'About SoccerKids', home_AboutSoccerKids_path %></span></div></DIV></DIV>
</DIV>
<DIV id=u40container style="position:absolute; left:227px; top:56px; width:151px; height:26px;; overflow:visible">
<DIV id=u41 style="position:absolute; left:2px; top:4.5px; width:146px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u41_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><u>SoccerKids Online Store</u></span></div></DIV></DIV>
</DIV>
<DIV id=u32container style="position:absolute; left:626px; top:57px; width:96px; height:26px;; overflow:visible">
<DIV id=u33 style="position:absolute; left:2px; top:4.5px; width:91px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u33_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><%= link_to 'myaccount', home_showp_path %></span></div></DIV></DIV>
</DIV>
<DIV id=u34container style="position:absolute; left:716px; top:57px; width:61px; height:26px;; overflow:visible">
<DIV id=u35 style="position:absolute; left:2px; top:4.5px; width:56px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u35_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><%= link_to 'Login', new_user_session_path %></span></div></DIV></DIV>
</DIV>
<DIV id=u44container style="position:absolute; left:768px; top:57px; width:40px; height:26px;; overflow:visible">
<DIV id=u45 style="position:absolute; left:2px; top:4.5px; width:35px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u45_rtf><div style="text-align:center"><span style=" color:#000000; font-size:10pt;"><%= link_to 'helps', home_help_path %></span></div></DIV></DIV>
</DIV>
<DIV id=u27container style="position:absolute; left:290px; top:650px; width:146px; height:26px;; overflow:visible">
<DIV id=u28 style="position:absolute; left:2px; top:4.5px; width:141px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u28_rtf><div style="text-align:center"><span style=" font-family:'Arial'; color:#0000FF; font-size:10pt;"><u>Elizabeth Wade Studio</u></span></div></DIV></DIV>
</DIV>
<DIV id=u25container style="position:absolute; left:50px; top:650px; width:251px; height:26px;; overflow:visible">
<DIV id=u26 style="position:absolute; left:2px; top:5.5px; width:246px; height:14px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u26_rtf><div style="text-align:center"><span style=" font-family:'Verdana'; color:#808080; font-size:9pt;">@ 2005 SoccerKids, Inc. :: Design by</span></div></DIV></DIV>
</DIV>
